</main>

<footer class="site-footer text-center text-lg-start mt-auto">
  <div class="container py-3">
    <div class="row g-2 align-items-center">
      <div class="col-lg-7 col-md-12">
        <div class="contact-links">
          <span class="contact-label">Contact:</span>
          <a
            href="https://www.facebook.com/share/1DeYU1JDXc/?mibextid=wwXIfr"
            target="_blank"
            rel="noopener noreferrer"
            class="contact-item"
          >
            <svg viewBox="0 0 24 24" aria-hidden="true">
              <path d="M13.5 21v-8h2.7l.4-3h-3.1V8.1c0-.9.3-1.5 1.6-1.5h1.7V3.9c-.3 0-1.3-.1-2.4-.1-2.4 0-4 1.5-4 4.2V10H8v3h2.4v8h3.1z" />
            </svg>
            <span>Facebook</span>
          </a>
          <a href="https://t.me/kom_mention_nh_tt" target="_blank" rel="noopener noreferrer" class="contact-item">
            <svg viewBox="0 0 24 24" aria-hidden="true">
              <path d="M21.5 4.6c.4-.2.8.2.7.7l-3 14.1c-.1.5-.7.7-1.1.5l-4.2-3.1-2.2 2.1c-.3.3-.8.1-.8-.3v-3.2l7.2-6.6-8.9 5.6-3.8-1.2c-.6-.2-.6-1 .1-1.2l16-7.4z" />
            </svg>
            <span>Telegram</span>
          </a>
          <a href="tel:+85560269308" class="contact-item">
            <svg viewBox="0 0 24 24" aria-hidden="true">
              <path d="M6.6 10.8c1.4 2.8 3.7 5.1 6.5 6.5l2.2-2.2c.3-.3.8-.4 1.2-.3 1 .3 2 .5 3.1.5.6 0 1 .4 1 1v3.5c0 .6-.4 1-1 1C10.6 20.8 3.2 13.4 3.2 4.5c0-.6.4-1 1-1H7.7c.6 0 1 .4 1 1 0 1.1.2 2.1.5 3.1.1.4 0 .9-.3 1.2l-2.3 3z" />
            </svg>
            <span>Phone Call</span>
          </a>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 text-lg-end">
        <p class="mb-0">&copy; <%= new Date().getFullYear() %> || All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>
<script src="/public/main.js"></script>

</body>
</html>
